In [10]:
import numpy as np
import pandas as pd
import scipy.stats as sts
import matplotlib.pyplot as plt

In [49]:
data = pd.read_csv('socialmobility.csv')
data

          father           son  count
0           farm          farm    703
1           farm     unskilled   1478
2           farm       skilled   1430
3           farm  professional   1109
4      unskilled          farm     58
5      unskilled     unskilled   1756
6      unskilled       skilled   1630
7      unskilled  professional   1568
8        skilled          farm     63
9        skilled     unskilled   1453
10       skilled       skilled   2068
11       skilled  professional   2483
12  professional          farm     61
13  professional     unskilled    749
14  professional       skilled   1183
15  professional  professional   3315

In [17]:
prior_alpha = [1,1,1,1]
def posterior_dist(prior,samples):
    param = [p+sam for p, sam in zip(prior, samples)]
    return sts.dirichlet(param)

In [52]:
data['count'][[4,5,6,7]]

4      58
5    1756
6    1630
7    1568
Name: count, dtype: int64

What is the posterior 95% probability interval over the probability that a son will
become a skilled laborer if his father was an unskilled laborer?

In [69]:
unskilled_father_post = posterior_dist(prior_alpha, np.array(data['count'][[4,5,6,7]]))
unskilled_father_samples = unskilled_father_post.rvs(size = 100000)

In [72]:
print("The 95% CI goes from",np.quantile(samples[:, 2],0.025),"to", np.quantile(samples[:, 2],0.975))

The 95% CI goes from 0.31207153698331247 to 0.33797476691586725

What is the posterior 95% probability interval over the probability that a father works
on a farm if his son works as a professional?

In [71]:
professional_son_post = posterior_dist(prior_alpha, np.array(data['count'][[3,7,11,15]]))
professional_son_samples = professional_son_post.rvs(size = 100000)

In [74]:
print("The 95% CI goes from",np.quantile(samples[:, 0],0.025),"to", np.quantile(samples[:, 0],0.975))

The 95% CI goes from 0.008986090048937115 to 0.01493137851868805